body {
  background-color:rgb(179, 189, 186); 
}

.small-image {
    width: 200px; 
    height: 150px; 
}

img{
    max-width: 50%;
    max-height: 50%
    }

body{
    font-size: medium;
    font-family: sans-serif;
}
.container {
    text-align: center;
}

.container img {
    display: inline-block;
}
.img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60; 
    margin: 0; 
}
h2 {
    color:blue ;
}
.center {
    display: flex;
    justify-content: center;
}
body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
  }
  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }
  .details {
    display: flex;
    justify-content:center;
    margin-bottom: 20px;
  }
  .box {
    width: 48%;
    background-color:lavender;
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
  }
  .box img {
    display: block;
    margin: 0 auto 10px;
  }
  h2, p, ul {
    margin: 0;
    padding: 0;
  }
  ul {
    list-style-type: none;
  }
  h1{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
  }
  h2{
    font: size 35px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    text-align: center;
  }
  p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    padding: 10px;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
}

.header-nav a {
    margin-left: 10px;
}

.button-container {
  text-align: center; 
}
.conversation-button{
  margin-top: 20px; 

}
.conversation-button {
  display: inline-block;
  padding: 10px 10px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border:none;
  border-radius: 5px;
}

.conversation-button span {
  margin-left: 5px; 
}
body {
  margin-bottom: 20px; 
}
footer {
  text-align: center; 
}
.logo-container {
  display: inline-block; 
}
